// COLORS
$white:#ffffff;
$black:#000000;
$accent:#FF4E50;
$text:#444444;
$small-text:#E3E3E3;
$grey:#666666;
$light-grey:#999999;

// FONTS
%roboto-300 {
  font-family: 'Roboto-Light';
  font-weight: 300;
}

%montserrat-400 {
  font-family: 'Montserrat-Regular';
  font-weight: 400;
}

%montserrat-700 {
  font-family: 'Montserrat-Bold';
  font-weight: 700;
}